# Avocado Data Analysis Notebook
ALT-TAB LABS LLP &copy; 2020 All Rights Reserved

In [23]:
# show files in current directory
import os
os.listdir()

['.ipynb_checkpoints',
 'avocado-format.png',
 'avocado-test.csv',
 'avocado-train.csv',
 'avocado_notebook.ipynb',
 'pyctfsglib.py']

In [2]:
# load csvs
import pandas as pd
#MyDataFrame = pd.read_csv('PATH_TO_CSV.csv', index_col='id')
AvoTrain=pd.read_csv('avocado-train.csv',index_col='id')

In [4]:
# View the data!
#MyDataFrame.head()
AvoTrain.head()
#AvoTrain.describe()

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,conventional,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,conventional,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,conventional,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,conventional,Pittsburgh,1.54

In [26]:
# Clean Data

# Drops missing values 
AvoTrain.dropna()

# Convert strings to numbers
avotypes={"conventional":0,"organic":1}
AvoTrain.type=[avotypes[x] for x in AvoTrain.type]

# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [27]:
# Select data for learning
features = ["DataBatch","TotalVolume","4046","4225","4770","TotalBags","SmallBags","LargeBags","XLargeBags"] #TODO TODO TODO TODO TODO TODO TODO TODO

X =AvoTrain[features] #TODO TODO TODO TODO TODO TODO TODO TODO
y = AvoTrain.AveragePrice #TODO TODO TODO TODO TODO TODO TODO TODO

In [28]:
X.head()
y.head()

id
0    1.49
1    1.38
2    1.76
3    1.39
4    1.54
Name: AveragePrice, dtype: float64

# Regression Time!

In [29]:
# Sci Kit Learn! Scientific Computing library for python
from sklearn import *

In [30]:
# Pick the regression model we want to use

# Decision Tree Regression
# https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
model = tree.DecisionTreeRegressor(random_state=2020)

# Random Forest Regression
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html
# model = ensemble.RandomForestRegressor(random_state=2020, n_estimators=100)

In [31]:
# Split training into some for training and some for testing
# https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

#TODO TODO TODO TODO TODO TODO TODO TODO
Xtrain,Xvalid,ytrain,yvalid=model_selection.train_test_split(X,y,test_size=0.3)
print(" X training split: ", len(Xtrain), ";X test split: ", len(Xvalid),
     " y training split: ", len(Xtrain), ";y test split: ", len(Xvalid))

 X training split:  8941 ;X test split:  3833  y training split:  8941 ;y test split:  3833

In [32]:
# Perform regression on the data
model.fit(Xtrain, ytrain) #TODO TODO TODO TODO TODO TODO TODO TODO

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=2020, splitter='best')

In [33]:
# Score model
model.score(Xvalid, yvalid) #TODO TODO TODO TODO TODO TODO TODO TODO

0.5056195830986605

# Predict for Testing data

In [34]:
AvoTest = pd.read_csv('avocado-test.csv', index_col='id')
AvoTest.head()
# Clean Data
AvoTest.dropna();
# Drops missing values 
#TODO TODO TODO TODO TODO TODO TODO TODO

# Convert strings to numbers
avotypes = {
    "conventional": 0,
    "organic": 1
}
AvoTest.type = [ avotypes[x] for x in AvoTest.type ]
# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

In [35]:
# Select features
XforPredictions = AvoTest[features] #TODO TODO TODO TODO TODO TODO TODO TODO
XforPredictions.head()

,DataBatch,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags
id,,,,,,,,,
0,21,28969.34,80.77,27361.91,0.00,1526.66,1526.66,0.00,0.00
1,19,322962.89,5632.85,242365.82,2441.56,72522.66,22942.48,46083.51,3496.67
2,49,155334.45,3657.79,74068.65,0.00,77608.01,27302.29,50305.72,0.00
3,12,10231.74,341.89,8519.00,0.00,1370.85,303.33,1067.52,0.00
4,10,10652.02,6905.95,39.52,0.00,3706.55,3706.55,0.00,0.00

In [36]:
# Make Predictions!
yPredictions = model.predict(XforPredictions) #TODO TODO TODO TODO TODO TODO TODO TODO
print("Predictions:", yPredictions, len(yPredictions))

Predictions: [1.8  1.83 1.51 ... 1.52 2.15 1.61] 5475

In [41]:
# Save to CSV File!
output = pd.DataFrame({'id': XforPredictions.index, 'AveragePrice': yPredictions})
output.to_csv('avocado-submission_jonyeo.csv', index=False)
print(output)

        id  AveragePrice
0        0          1.80
1        1          1.83
2        2          1.51
3        3          1.59
4        4          1.48
...    ...           ...
5470  5470          2.34
5471  5471          1.03
5472  5472          1.52
5473  5473          2.15
5474  5474          1.61

[5475 rows x 2 columns]

# Upload for grading

In [38]:
# Download CTFSG Grader Libraries
import urllib.request, os
urllib.request.urlretrieve('https://raw.githubusercontent.com/alttablabs/ctfsg-utils/master/pyctfsglib.py', './pyctfsglib.py')
print('Downloaded pyctfsglib.py:', 'pyctfsglib.py' in os.listdir())

Downloaded pyctfsglib.py: True

In [39]:
# Connect to graders
import pyctfsglib as ctfsg
import random

USER_TOKEN = "tLvPPMZhImoILLLvAXmEJjdHGfPDVaAPyfRHMrWiedZNXsVKGcbDsPNOBjvirdSS" # You need to fill this up
GRADER_URL = random.choice([ # Check if these are correct GRADER URLS for the specific challenge
    "http://challenges.csdc20t.ctf.sg:30001/",
    "http://challenges.csdc20t.ctf.sg:30002/"
])

grader = ctfsg.DSGraderClient(GRADER_URL, USER_TOKEN)

DSGraderClient: Successfully Connected!
[SERVER] MOTD: CHECK your USER_TOKEN and GRADER_URL HTTP address! I'm AVOCADO_PRICE TEST_GRADER_1

In [42]:
grader.submitFile('avocado-submission_jonyeo.csv')

ProofOfWork Challenge =>  ('CTFSGRBcbdb3dada33aec6a491ab364abc9adc1', 22)
ProofOfWork Answer Found! =>  357837

'{"challenge":{"name":"Avocado Prices"},"id":"ck8lld8re6fwl0868q60sc1gj","status":"PARTIALLY_CORRECT","multiplier":0.4897,"submittedBy":{"username":"sajc-9"},"createdAt":"2020-04-04T12:27:00Z"}'